<h3 align="center">Articles</h3>


<div align="center">
  <%= will_paginate %>
</div>  
<!--Adds per page navigation-->

<%= render 'article', obj: @articles %>
<!--Within the article partial, the article variable will refer to @articles.-->

<div align="center">
  <%= will_paginate %>
</div>







