
<div id="about-wrap">
  
  <div class="jumbotron jumbo-about">
    <div class="about-headline">
      <h1 class="about-text">Hello.</h1>
      <p class="about-text">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.<span>|</span></p>
    </div> 
  </div>   
  
</div>