<div id="home-wrap">
  <div class="jumbotron-wrap"><!--image-->
    <div class="jumbotron jumbotron-home" id="jumbo-home-background">
      <div class="jumbo-text">
        <h1 class="jumbo-one">ATLAS</h1>
        <h3 class="jumbo-two"><b>A</b>nother <b>T</b>witter <b>L</b>ook<b>A</b>like <b>S</b>ite</h3>
      </div>
     
    </div>
  </div>
  
  
  <div class="row-fluid home-rows">
    <div align="center">
      <% if !logged_in? %>
        <%= link_to "Sign up", signup_path, class: "btn btn-primary btn-lg btn-xlarge home-jumbo" %>
      <% end %>
    </div>
  </div>
</div>  
  