/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */
 $navbar-default-bg: orange;
 
 @import "bootstrap-sprockets";
 @import "bootstrap";

 
 /****Start application.html.erb styles****/
 html, body {
   height: 100vh;
   /*For sticky footer html and body elements cannot have padding or margins*/
 }
 
 #wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}
 
#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -2px;
} 


/* Set the fixed height of the footer here */
#footer {
  height: 80px;
  background-color: $navbar-default-bg;
  border-top: 1px solid black;
}

.credits p {
  text-align: center;
}

.fp1 {
  color: #fff;
  margin-top: 8px;
}

.fp2 {
  text-decoration: none;
  color: #fff;
}

.fp2:hover {
  text-decoration: none;
}

/****End application.html.erb styles****/








/****Start home.html.erb styles****/

#home-wrap {
  margin-bottom: 300px;
  margin-top: 100px;
}

.jumbotron-wrap {
  background-image: url(./soc_media.jpg);
  background-attachment:fixed;
  background-size:contain;
}

.jumbotron-home {
  height:300px;
  text-align: center;
}

#jumbo-home-background {
  background-color:rgba(250,250,250,0.5);
}

.jumbo-text .jumbo-one  {
  font-size: 100px;
  line-height: 1;
  text-align: center;
  z-index: 2;
  letter-spacing: -10px;
}

.jumbo-text, .jumbo-two {
  text-align: center;
  font-weight: bold;
}

.jumbo-text .lead-home {
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
}

.home-jumbo {
  background-color: #ff8c69;
  font-size: 1.7em;
}

.home-jumbo:hover {
  background-color: $navbar-default-bg;
}
/****End home.html.erb styles****/



/****Start about.html.erb styles****/

.jumbo-about {
  height: 400px;
  background: #fff;
}

.jumbo-about {
  text-align: center;
}



/****End about.html.erb styles****/



/****Start articles show.html.erb styles****/

.article-actions {
  border-top: 1px solid orange;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}


/****End articles show.html.erb styles****/



/****Start articles index.html.erb styles****/

.article-title {
  font-size: 1.2em;
}

.article-body {
  
}

/****End articles index.html.erb styles****/