<div id="footer">
  <div class="container footer-container">
    <small class="credits">
      <span><p class="fp1">&copyATLAS:  Another "Twitter-Like App" Site</p><p><%= link_to "Brandon S Brigance", articles_path, class: "fp2" %></p></span>
    </small>
  </div>
</div>