<div id="footer">
  <div class="container footer-container">
    <small class="credits">
      <span><p class="fp1">&copy<b>ATLAS</b>:  <b>A</b>nother <b>T</b>witter <b>L</b>ook <b>A</b>like <b>S</b>ite</p><p><%= link_to "Brandon S Brigance", 'https://bsb.netlify.com/', class: "fp2" %></p></span>
    </small>
  </div>
</div>